<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      At HappyHealth, we put you as the patient first - meaning in everything we do, we seek to provide you with the best user experience possible, first and foremost. To that end, we want to provide a secure, and completely hassle-free, paperless process for transacting your health data during doctor office registration. Sure there are other PHRs out there, but only HappyHealth functions as a digital concierge, freeing you from the hassle of all the phone calls and paper-pushing required to manage your health data and check-in for care.
    </p>
  