<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact HappyHealth Support during normal work hours at (888) 888-8888, or leave us a message via the form below and we will respond as soon as possible.
</p>