<% provide(:title, 'Home') %>
    <h1>Welcome to HappyHealth</h1>
	    <p>
			Introducing HappyHealth, a revolutionary, digital healthcare registration form and concierge service rolled into one. We provide you with an amazingly simple and hassle-free check-in experience at your doctor's office. We’re thinking beyond clipboards, and freeing your health data.    		      
	    </p>
 